/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */

.full_list {
    list-style-type: none;
    background-color: grey;
    padding: 3px;
    margin: 5px;
}

.individual_item {
    background-color: black;
    list-style-type: none;
}

.individual_item li {
    color: white;
}